<div id="sidebar" class="bg-purple">
    <div class="h4 text-white">Account</div>
    <ul>
        <li  class="<%= activePage === 'udash' ? 'active' : '' %>">
            <a href="/user/mydash" class="text-decoration-none d-flex align-items-start">
                <div class="fas fa-box pt-2 me-3"></div>
                <div class="d-flex flex-column">
                    <div class="link">My Account</div>
                    <div class="link-desc">View & Manage orders and returns</div>
                </div>
            </a>
        </li>
        <li class="<%= activePage === 'myprofile' ? 'active' : '' %>">
            <a href="/user/myaccount" class="text-decoration-none d-flex align-items-start">
                <div class="far fa-user pt-2 me-3"></div>
                <div class="d-flex flex-column">
                    <div class="link">My Profile</div>
                    <div class="link-desc">Change your profile details & password</div>
                </div>
            </a>
        </li>
        <li class="<%= activePage === 'orders' ? 'active' : '' %>">
            <a href="/user/orders" class="text-decoration-none d-flex align-items-start">
                <div class="fas fa-box-open pt-2 me-3"></div>
                <div class="d-flex flex-column">
                    <div class="link">My Orders</div>
                    <div class="link-desc">View & Manage orders and returns</div>
                </div>
            </a>
        </li>
        <li class="<%= activePage === 'address' ? 'active' : '' %>">
            <a href="/user/address" class="text-decoration-none d-flex align-items-start">
                <div class="far fa-address-book pt-2 me-3"></div>
                <div class="d-flex flex-column">
                    <div class="link">Address Book</div>
                    <div class="link-desc">View & Manage Addresses</div>
                </div>
            </a>
        </li>
        <li class="<%= activePage === 'wallet' ? 'active' : '' %>">
            <a href="/user/wallet" class="text-decoration-none d-flex align-items-start">
                <div class="fas fa-wallet pt-2 me-3"></div>
                <div class="d-flex flex-column">
                    <div class="link">My Wallet</div>
                    <div class="link-desc">View & Manage your wallet balance</div>
                </div>
            </a>
        </li>
    </ul>
</div>